* {
    font-family: 'Roboto';
}

.tabs-container {
    display:flex;
    align-items: center;
    margin-top: 0px;
    padding-left: 0px;
    width:100%;
}

.tabs {   
    border:2px solid #ECECEC;
    height:35px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:25px;
    padding-bottom:25px;
    
}

.tabs-basic {
    border-top: 2px solid #A9EBE9;
    border-bottom:2px solid #ECECEC;
    height:35px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:25px;
    padding-bottom:25px;
}

.tab-name {
    color:#000002; 
    font-size:18px;
}


.adv {
    font-size: 16px;
    color:#000002;
    font-weight: 600;
}

.adv-container {
    background-color:#EFFBF7;
    border-top: 2px solid #B4EDCD;
    border-bottom:2px solid #B4EDCD;
    width:100%;
    text-align: center;

}


.cards-container {
    display: none;
    padding-left:0px;
    display:flex;
    flex-direction: column;
}

.pop-up-container {
    display:none;
}

@media screen and (min-width:768px){
    .tabs-container {
        display:none;
    }
   
    .cards-container {
        display:flex;
        flex-direction: row;
        align-items:center;
        padding:30px;
        
    }
    .body {
        background-image: linear-gradient(to right, #ffffff ,#FFFFFF,#FFFFFF,#FFFFFF,#F2FAFC, #A3E3EF);
        margin:0px;
        padding:10px;
        display:flex;
        flex-direction: column;
    }

    .pop-up-container {
        display:flex;
        align-items:center;
        align-self: center;
        border:1px solid #52FFA6;
        border-radius:20px;
        padding:5px;
        margin-top:20px;
        padding-right: 10px;
    }

    .pay-monthly-adv {
        font-size:15px;
        background-color: #000002;
        color:#F2FAFC;
        border-radius:16px;
        padding-top:5px;
        padding-bottom:5px;
        width:100px;
        text-align:center;
        margin-right: 10px;
    }

    .pay-pop-up-adv {
        font-size:12px;
    }
}